.wp-block-s8-demo-masonry {
	/* JS will override this with inline style */
	--content-width: 100%;
	box-sizing: border-box;
}

.wp-block-s8-demo-masonry > .column-gap-sizer {
	width: var(--column-gap, 0);
}

.wp-block-s8-demo-masonry > :is(img, .grid-sizer) {
	width: calc((var(--content-width) - var(--column-gap, 0px) * 11) / 12);
	margin-bottom: var(--row-gap, 0);
}

.wp-block-s8-demo-masonry > img.square {
	width: calc((var(--content-width) - var(--column-gap, 0px) * 5) / 6);
}

.wp-block-s8-demo-masonry > img.wide {
	width: calc((var(--content-width) - var(--column-gap, 0px) * 3) / 4);
}
